<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <header><h2>{{article.title}}</h2></header>
                <div class="dphoto">
                    <img src="{{this.imagePath}}" height="150" width="300">
                </div>
                <p>
                    {{article.content}}
                </p>
                <small class="author">
                    {{article.author.fullName}}
                </small>

                {{#if article.comments}}
                    <ul class="comments">
                        {{#each article.comments}}
                            <li class="comment">{{this.content}}</li>
                            <small class="author">{{this.author.fullName}}</small>
                        {{/each}}
                    </ul>
                {{/if}}


                <form action="/article/postComment/{{article.id}}" id="usrform" method="post">
                    <textarea name="content" form="usrform"></textarea>
                    <button type="submit">Напиши коментар</button>
                </form>


                <footer>
                    <div class="pull-left"> {{# each article.tags}}
                        <a class="btn btn-default btn-xs" href="/tag/{{this.name}}">{{ this.name }}</a> {{/each}} </div>

                    <div class="pull-right">
                        {{#if isUserAuthorized}}
                            <a class="btn btn-success btn-xs" href="/article/edit/{{article.id}}">Редактирай&raquo;</a>
                            <a class="btn btn-danger btn-xs" href="/article/delete/{{article.id}}">Изтрии&raquo;</a>
                        {{/if}}
                        <a class="btn btn-default btn-xs" href="/">Върни се назад&raquo;</a>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>