<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="POST" action="/article/edit/{{id}}">
            <fieldset>
                <legend>Редактирай статия</legend>
                <div class="form-group"><label class="col-sm-4 control-label" for="articleTitle">Име на статия</label>
                    <div class="col-sm-4 "><input type="text" class="form-control" id="articleTitle"
                                                  placeholder="Article Title" value="{{title}}" name="title" required>
                    </div>
                </div>
                <div class="form-group"><label class="col-sm-4 control-label" for="articleContent">Съдържание</label>
                    <div class="col-sm-6"><textarea class="form-control" id="articleContent" rows="5" name="content"
                                                    required>{{content}}</textarea></div>
                </div>


                <div class="form-group"><label class="col-sm-4 control-label" for="category">Категория</label>
                    <div class="col-sm-6"><select class="form-control" id="select" name="category"> {{#each categories}}
                        <option value="{{this.id}}">{{this.name}}</option> {{/each}} </select></div>
                </div>

                <div class="form-group"><label class="col-sm-4 control-label" for="tags">Тагове</label>
                    <div class="col-sm-4 "><input type="text" class="form-control" id="tags" name="tags"
                                                  value="{{ tagNames }}"></div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4"><a href="/" class="btn btn-default">Отказ</a>
                        <button type="submit" href="/article/edit/{{id}}" class="btn btn-success">Редактирай</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>