<div class="container body-content">
    <div class="row"> {{#each articles}}
        <div class="col-md-6">
            <article>
                <header><h2>{{ this.title }}</h2></header>
                <p>
                    {{ this.content }}
                </p>
                <p> {{#each this.tags }}
                    <a class="btn btn-default btn-xs"
                       href="/tag/{{this.name}}">{{ this.name }}</a>
                    {{/each}}
                </p>
                <small class="author">
                    {{ this.author.fullName }}
                </small>

                <div class="dphoto">
                <img src="{{this.imagePath}}" height="150" width="300">
                </div>

                <footer>
                    <div class="pull-right"><a class="btn btn-default btn-xs" href="/article/details/{{this.id}}">Още &raquo;</a></div>
                </footer>
            </article>
        </div> {{/each}} </div>
</div>